.block {
  padding: 1rem 3rem;
  position: relative;
  margin: 40px 0;

  &:after, &:before {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: block;
    height: 38px;
  }

  &:after {
    content: url(img/top_shadow.svg);
  }

  &:before {
    bottom: auto;
    top: 100%;
    content: url(img/bottom_shadow.svg);
  }

  + .block {
    margin-top: 200px;
  }

  &.gray {
    background: #E6E6E6;
  }

  &.padded {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.bottom-bar {
  margin-left: -1rem;
  display: flex;

  .widget {
    width: 50%;
    margin-left: 1rem;
  }
}

.top-bar {
  margin: 100px 0;
}

.thumbnails {
  flex-wrap: nowrap;
  overflow-x: scroll;

  .thumbnails-image {
    flex: 1 0 auto;

    img {
      height: 120px;
    }

    + .thumbnails-image {
      margin-left: 1rem;
    }
  }
}

.scrollbar {
  .scrollbar-right,
  .scrollbar-left {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
    height: 100%;
    color: #fff;
    width: 2.5rem;
    padding: 0;
    outline: none;
    text-align: center;

    &:before {
      background-color: gray;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      font-size: 14pt;
      border-radius: 999em;
      line-height: 2rem;
    }
  }

  .scrollbar-right {
    margin-top: 0;
    left: auto;
    right: 0;
  }
}
