{% extends "base.twig" %}

{% block content %}
	<div class="scrollbar block gray" data-behavior="scrollbar">
		<button type="button" name="button" class="scrollbar-left ion-chevron-left js-left"></button>
		<ul class="thumbnails unstyle flexbox js-slider">
			{% for post in posts %}
				<li class="thumbnails-image">
					<a href="{{post.link}}">
						{% if post.thumbnail.src %}
							<img src="{{post.thumbnail.src}}" />
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
		<button type="button" name="button" class="scrollbar-right ion-chevron-right js-right"></button>
	</div>
{% endblock %}
