{% extends "base.twig" %}

{% block content %}
	<div class="scrollbar block gray">
		<ul class="thumbnails unstyle flexbox js-slider" data-behavior="scrollbar">
			{% for post in posts %}
				<li class="thumbnails-image">
					<a href="{{post.link}}">
						{% if post.thumbnail.src %}
							<img src="{{post.thumbnail.src('thumbnail')}}" />
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="archive-description text-centered">
		<h1 class="heading--xl">{{title}}</h1>
		{{description}}
	</div>
{% endblock %}
