{% extends "base.twig" %}

{% block content %}
	<section class="block padded text-centered">
		<h2 class="heading--lg">
			Design is not about self expression; <br>
			it’s about the message. It’s about the clarity of that message<br>to its intended audience.
		</h2>
	</section>
{% endblock %}
