@charset "UTF-8";

* {
  margin-top: 0;

  + * {
    margin-top: 1rem;
  }
}

html {
  color: #434343;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 87.5%;
  height: 100%;
  background: #fcfcfc;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
}

body > footer {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

ul {
  margin-bottom: 0;
  padding-left: 1em;

  li {
    margin-top: 0;
  }

  nav & {
    list-style: none;
    padding-left: 0;
  }
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
  text-shadow: 1px 0 rgba(#fff, 0.5), -1px 0 rgba(#fff, 0.5);

  &:after {
    border-bottom: solid 1px #777;
    bottom: 0.075em;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &:visited {
    color: inherit;
  }

  &.unstyle {
    &:after {
      display: none;
    }
  }
}
